.chatbot-intro {
  margin-top: 15px;
  color: rgb(140, 140, 140);
  text-align: center;
  font-size: 17px;
}

.send-button {
  background-color:  rgb(25, 135, 84);
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.clear-message-btn {
  background-color:  rgb(219, 219, 219);
  border: none;
  color: black;
  padding: 12px 20px;
  margin-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.chat-box {
  padding: 12px 15px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid;
  margin-right: 10px;
  flex: 1;
}

.chat-input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}